certifi==2022.12.7
chardet==3.0.4
git+https://github.com/coinbase/coinbase-python
dj-database-url==0.4.1
Django==1.11.1
gunicorn==19.6.0
idna==2.6
psycopg2==2.6.2
pycrypto==2.6.1
pytz==2017.2
requests==2.18.4
six==1.11.0
urllib3==1.22
whitenoise==3.2
